# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.idea
.DS_Store
.vscode
dev
dev2
!/khulnasoft_frontend/.vscode/
khulnasoft_frontend/console_version.txt
khulnasoft_frontend/product_version.txt

khulnasoft_agent/tools/apache/scope/proto/
khulnasoft_agent/tools/apache/scope/vendor/
khulnasoft_agent/agent-binary/build
khulnasoft_agent/agent-binary/dist

khulnasoft_server/vendor
khulnasoft_worker/vendor

khulnasoft_server/khulnasoft_server
khulnasoft_worker/khulnasoft_worker

khulnasoft_bootstrapper/vendor
khulnasoft_bootstrapper/khulnasoft_bootstrapper

openapi.json
openapi.yaml

khulnasoft_ctl/khulnasoftctl
khulnasoft_ctl/vendor

.pnpm-store

go.work*

./pkg/
khulnasoft_agent/tools/apache/scope/docker/khulnasoftutil
khulnasoft_agent/tools/apache/scope/docker/khulnasoft_exe
khulnasoft_agent/tools/apache/scope/docker/khulnasoft
khulnasoft_agent/tools/apache/khulnasoft/df-utils/get_cloud_instance_id/getCloudInstanceId
khulnasoft_agent/khulnasoftd
khulnasoft_agent/fargate/*

khulnasoft_agent/plugins/khulnasoft_shipper/vendor
khulnasoft_agent/plugins/khulnasoft_shipper/khulnasoft_shipper